@font-face {
  font-family: "iconfont"; /* Project id 3812189 */
  src: url('./iconfont.woff2?t=1676026204051') format('woff2'),
       url('./iconfont.woff?t=1676026204051') format('woff'),
       url('./iconfont.ttf?t=1676026204051') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-loading:before {
  content: "\e61d";
}

.icon-sort-down:before {
  content: "\e843";
}

.icon-sort-up:before {
  content: "\e844";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-chahao:before {
  content: "\e668";
}

.icon-yanjing_yincang:before {
  content: "\eb45";
}

.icon-yanjing_xianshi:before {
  content: "\eb46";
}

