//普通颜色和激活颜色
$normal-color: #ffffff;
$normal-active-color: #40c1ca;
//初步颜色和激活颜色
$primary-color: #40878D;
$primary-shadow-color:#38767b;
$primary-active-color: #c5eaed;
//通知颜色
$info-color: #909399;
$info-active-color: #a6a9ad;
//成功颜色
$success-color: #67c23a;
$success-active-color: #85ce61;
//警告颜色
$warning-color: #ff9900;
$warning-active-color: #e6a23c;
//危险颜色
$danger-color: #c04851;
$danger-active-color: #f78989;
//禁用颜色
$diasabled-color: #cfccc9;
$link-color: #1661ab;
//背景色
$background-color:#e6f2f5;

//字体颜色
/*有什么需要添加的字体颜色可以添加到下面*/
$font-gold-color-oppose:#0b28e3;
$font-gold-color: #e3c60b;
$font-black-color: #000000;

/*
有什么颜色需要添加的添加到下面注意命名规则   color放在后面
*/

$background-flesh-color:#f8e8db;
