//@import url(); 引入公共scss类
@import "./common/scss/color.scss";
//引入江西拙楷字体
@import "./common/scss/font.scss";

.emui-icon {
    background-color: white;
    display: inline-block;
    // display: grid;
    // grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    // grid-template-rows: 100px 100px;
    overflow:visible;
}

img{
    width: 100px;
    height: 100px;
}