//@import url(); 引入公共scss类
@import "./common/scss/color.scss";
//引入江西拙楷字体
@import "./common/scss/font.scss";

$background-color-default: white;

.emui-icon {
    background-color: $background-color-default;
    width: 920px;
}

svg,
image {
    width: 75px;
    height: 75px;
}