
.emui-nav {
  background: $primary-color;
  display: flex;
  border-bottom: 1px solid $grey;
  color: $color;
  cursor: default;
  user-select: none;
  &.vertical {
    flex-direction: column;
    border-right: 1px solid $grey;
  }
}
