<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            width: 0px;
            border-top: 10px solid red;
            border-right: 10px solid blue;
            border-bottom: 10px solid yellow;
            border-left: 10px solid green;
        }
    </style>
</head>
<body>
    <div></div>
</body>
</html>